@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply bg-black text-white;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  @apply bg-gray-900;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
}
